#root {
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

pre {
  margin: 0;
  white-space: pre-wrap;
  word-wrap: break-word;
}
