apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: bad-app
  name: bad-app
  namespace: cart
spec:
  replicas: 1
  selector:
    matchLabels:
      app: bad-app
  strategy: {}
  template:
    metadata:
      labels:
        app: bad-app
    spec:
      containers:
      - image: nginx
        name: nginx
        resources: {}
status: {}
